<div class="row m-0 d-flex light-bg p-3" *ngIf="accountDetails">
  <div class="col-12 col-lg-8 d-flex flex-row">
    <h4 class="d-flex align-items-center mx-3 capt-text">
      {{ accountDetails.data.account.name }}
    </h4>
    <div class="mx-2 d-flex align-items-center flex-column">
      <p
        [ngClass]="
          accountDetails.data.account.cleared_balance > 0
            ? 'text-success'
            : 'text-danger'
        "
      >
        <b>
          {{
            accountDetails.data.account.cleared_balance
              | currency: "USD":"symbol":"2.0"
          }}
        </b>
      </p>
      <small>Cleared Balance</small>
    </div>
    <div class="mx-2 d-flex align-items-center">
      <p><b class="grey-text">+</b></p>
    </div>
    <div class="mx-2 d-flex align-items-center flex-column">
      <p
        [ngClass]="
          accountDetails.data.account.uncleared_balance > 0
            ? 'text-success'
            : 'text-danger'
        "
      >
        <b>
          {{
            accountDetails.data.account.uncleared_balance
              | currency: "USD":"symbol":"2.0"
          }}
        </b>
      </p>
      <small>Uncleared Balance</small>
    </div>
    <div class="mx-2 d-flex align-items-center">
      <p><b class="grey-text">=</b></p>
    </div>
    <div class="mx-2 d-flex align-items-center flex-column">
      <p
        [ngClass]="
          accountDetails.data.account.balance > 0
            ? 'text-success'
            : 'text-danger'
        "
      >
        <b>
          {{
            accountDetails.data.account.balance | currency: "USD":"symbol":"2.0"
          }}
        </b>
      </p>
      <small>Working Balance</small>
    </div>
  </div>
</div>

<div class="table-responsive cursor-table">
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
    class="w-100 table table-striped normalHeader hasPaginator"
  >
    <!-- account_name Column -->
    <ng-container matColumnDef="account_name">
      <th scope="col" mat-header-cell *matHeaderCellDef>ACCOUNT</th>
      <td mat-cell *matCellDef="let element">
        {{ element.account_name }}
      </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th scope="col" mat-header-cell *matHeaderCellDef>DATE</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date }}
      </td>
    </ng-container>

    <!-- payee_name Column -->
    <ng-container matColumnDef="payee_name">
      <th scope="col" mat-header-cell *matHeaderCellDef>PAYEE</th>
      <td mat-cell *matCellDef="let element">
        {{ element.payee_name }}
      </td>
    </ng-container>

    <!-- category_name Column -->
    <ng-container matColumnDef="category_name">
      <th scope="col" mat-header-cell *matHeaderCellDef>CATEGORY</th>
      <td mat-cell *matCellDef="let element">
        {{ element.category_name }}
      </td>
    </ng-container>

    <!-- memo Column -->
    <ng-container matColumnDef="memo">
      <th scope="col" mat-header-cell *matHeaderCellDef>MEMO</th>
      <td mat-cell *matCellDef="let element">
        {{ element.memo ? element.memo : "-" }}
      </td>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="amount">
      <th scope="col" mat-header-cell *matHeaderCellDef>OUTFLOW</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.amount < 0
            ? (element.amount | currency: "USD":"symbol":"2.0")
            : ""
        }}
      </td>
    </ng-container>

    <!-- amount Column -->
    <ng-container matColumnDef="inflow">
      <th scope="col" mat-header-cell *matHeaderCellDef>INFLOW</th>
      <td mat-cell *matCellDef="let element">
        {{
          element.amount > 0
            ? (element.amount | currency: "USD":"symbol":"2.0")
            : ""
        }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      class="thead-light"
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      [routerLink]="['/account/payee', budgetId, row.payee_id]"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
