<section class="light-bg row m-0 py-2 px-3" *ngIf="months.length">
  <div class="col-12 col-lg-6 d-flex align-items-center">
    <div
      *ngFor="let month of months; let i = index"
      class="d-flex justify-content-center align-items-center"
    >
      <ng-container *ngIf="selectedMonth == i">
        <button
          class="navi-btn"
          [disabled]="selectedMonth == 0"
          (click)="selectedMonth = selectedMonth - 1"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div class="d-flex flex-column">
          <h5 class="m-0">
            <b> {{ month.month | date: "MMM yyyy" | uppercase }}</b>
          </h5>
          <span class="grey-text" *ngIf="month.note">{{ month.note }}</span>
        </div>
        <button
          class="navi-btn"
          [disabled]="selectedMonth == months.length - 1"
          (click)="selectedMonth = selectedMonth + 1"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
  <div
    class="col-12 col-lg-6 d-flex justify-content-between"
    *ngIf="months.length"
  >
    <div class="green-box white-text">
      <h2 class="m-0">
        {{
          months[selectedMonth].to_be_budgeted | currency: "USD":"symbol":"2.0"
        }}
      </h2>
      <small>To be Budgeted</small>
    </div>
    <div class="d-flex justify-content-center flex-column">
      <p class="xs-p m-0">
        {{ months[selectedMonth].activity > 0 ? "+" : "" }}
        {{
          months[selectedMonth].activity | currency: "USD":"symbol":"2.0"
        }}
        Overspent in
        <span class="capt-text">{{
          months[selectedMonth].month | date: "MMM"
        }}</span>
      </p>
      <p class="xs-p m-0">
        {{ months[selectedMonth].budgeted > 0 ? "+" : "" }}
        {{
          months[selectedMonth].budgeted | currency: "USD":"symbol":"2.0"
        }}
        Budgeted in
        <span class="capt-text">{{
          months[selectedMonth].month | date: "MMM"
        }}</span>
      </p>
      <p class="xs-p m-0">
        {{ months[selectedMonth].income > 0 ? "+" : "" }}
        {{
          months[selectedMonth].income | currency: "USD":"symbol":"2.0"
        }}
        Budgeted in
        <span class="capt-text">{{
          months[selectedMonth].month | date: "MMM"
        }}</span>
      </p>
    </div>
  </div>
</section>

<div class="d-flex justify-content-center w-100" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="row m-0 p-3">
  <div class="col-12 col-lg-8">
    <table class="w-100 simple-table">
      <tr>
        <td>CATEGORY</td>
        <td class="w-20">BUDGETED</td>
        <td class="w-20">ACTIVITY</td>
        <td class="w-20">AVAILAVLE</td>
      </tr>
    </table>
    <mat-expansion-panel
      class="dark-expan-panel"
      hideToggle
      *ngFor="let element of dataSource.data"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex align-items-center">
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span class="px-2">{{ element.name }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table class="w-100 simple-table">
        <tr class="text-center" *ngIf="!element.categories.length">
          No items for this category
        </tr>
        <tr
          *ngFor="let item of element.categories"
          (click)="loadCateDetails(item.id)"
        >
          <td>
            <span> {{ item.name }}</span>
          </td>
          <td class="w-20">
            {{ item.budgeted | currency: "USD":"symbol":"2.0" }}
          </td>
          <td class="w-20">
            {{ item.activity | currency: "USD":"symbol":"2.0" }}
          </td>
          <td class="w-20">
            {{ item.balance | currency: "USD":"symbol":"2.0" }}
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </div>
  <div class="col-12 col-lg-4">
    <app-category-details
      *ngIf="selectedCategory"
      [data]="selectedCategory"
    ></app-category-details>
  </div>
</div>
